* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #4d4d4d;
  color: white;
  max-width: 1200px;
}

header h1 {
  margin: 0;
  text-align: center;
  font-size: 5em;
  font-weight: lighter;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

.headline {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.image-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-container img {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease-in-out;
}

.highlighted {
  transform: scale(1.2);
}

.image-item span {
  color: white;
  font-size: 1rem;
  margin-bottom: 10px;
}

.value-text {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  margin-top: 20px;
}
